<!DOCTYPE html>
<html>
<head>
<title>Express JS</title>
</head>
<body>

<h1>Learn Express JS</h1>
<p>Template engine EJS</p>
<hr>
<p>My name : <%= name %></p>
<p>age : <%= age %></p>

<% for(let i=0; i<fruits.length; i++){ %>
    <p><%= fruits[i].name %></p>
<% } %>

</body>
</html> 